body {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: #343a40;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
}

.sidebar a:hover {
    background-color: #5072c0;
}

.content {
    flex: 1;
    overflow-y: auto;
    position: relative;
    background: #dddddd;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .logout {
    color: red;
    cursor: pointer;
}